// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content
  p
    | Account Name and Password:
    form(method='get', action='/actor')
      input(name='userid', value='USERNAME')
      input(type='password', value='PASSWORD')
      input(type='submit', value='Submit')
