// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content
  p
    | Sign in:
    form(method='get', action='/actor')
      input(name='userid', value='USERNAME')
      input(type='password', name='password', value='DEFAULT_PASSWORD')
      input(type='submit', value='Log In')
      
    | Sign Up
    form(method='get', action='/actor')
      input(name='userid', value='USERNAME')
      input(type='password', value='DEFAULT_PASSWORD')
      input(name='firstname', value='First Name')
      input(name='lastname', value='Last Name')
      input(name='email', value='Email Address')
      input(type='submit', value='Regiester')
