extend layout
block content
  p
    form(method='get', action='/invite_friend')
      |Friend Username: 
      input(name='fuid')
      input(type='hidden', name='tid', value=tid)
      br
      br
      input(type='submit', value='Invite Friend')
