doctype html
html
  head
    title #{title} - Tripster
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title} - Tripster
      a.newsfeed_link(href="/newsfeed") Newsfeed
      br
      a.logout_button(href="/logout") Sign Out
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
