
doctype html
html
  head
    title #{title} - Tripster
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title} - Tripster
      a.newsfeed_link(href="/newsfeed") Newsfeed
      br
      a.logout_button(href="/users_trips") My Trips
      br
      a.edit_link(href="/edit/:uid") Edit
      br
      a.logout_button(href="/logout") Sign Out
      
      p
        form(method='get', action='/search')
         select(name='table')
           option(value='users') Users
           option(value='photos') Photos
           option(value='albums') Albums
           option(value='trips') Trips
           option(value='locations') Locations
         input(name='search', placeholder='Search')
         input(type='submit', value='Go!')
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
