doctype html
html
  head
    title #{title} - Tripster
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title} - Tripster
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
