// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  p
    | <b>#{title}</b>
  table
    - for (var i = 0; i < trips.length; i++)
        tr
          td.PostSeparatorOuter
        tr
          td.PostSeparatorInner
        tr
          td.PostSeparatorOuter       
        tr
          td.trip_name
            a(href="/trip/"+trips[i].T_ID) #{trips[i].NAME}
        tr
          td 
            span.location="To " + trips[i].LOCATION
        tr
          td.dates="On " +trips[i].START_DATE.getMonth() + "/" + trips[i].START_DATE.getDate() + "/"+ trips[i].START_DATE.getFullYear()

       
